<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <title>Base page</title>
  </head>
  <body>
	  <section class="banner d-flex justify-content-center align-items-center">
		  <div class="centercontent">
			  <h1 class="font-weight-bold font-size-2.5rem"> Smart Contact Manager</h1>
			  <p style="background: rgb(0, 128, 192)!important;color: white;">
				  The Smart Contact Manager project is an innovative and
				  user-centric application <br> designed to revolutionize  the way individuals organize 
				  and interact with their contacts. 
			  </p>
			  <button class="btn bg-primary btn-lg text-white">Get Started</button>
		  </div>
		
	  </section>
  </body>
  </html>